{% load static %}


<!DOCTYPE html>
<html lang="en">

<!-- doccure/forgot-password.html  30 Nov 2019 04:12:20 GMT -->
<head>
		<meta charset="utf-8">
		<title>Payments </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

		<!-- Favicons -->
		<link href="{% static 'img/preloader-rubic.gif'%}" rel="icon">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'js/assets/css/bootstrap.min.css' %}">

		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'js/assets/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'js/assets/plugins/fontawesome/css/all.min.css' %}">

		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'js/assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">


	</head>
	<body class="account-page">

		<!-- Main Wrapper -->
		<div class="main-wrapper">

			<!-- Header -->
			<header class="default-header">
				<div class="container">
					<div class="header-wrap">
						<div class="header-top d-flex justify-content-between align-items-center">
							<div class="logo">
								<a href="{% url 'index'%}"><img src="{% static 'img/favicon.png' %}" alt=""></a>
							</div>

							<div class="main-menubar d-flex align-items-center">
								<nav class="hide">
									<a href="{% url 'index'%}">About Us</a>
									<a href="{% url 'index'%}">Services</a>
									<!-- href="#appoinment">Appoinment</-->
									<a href="{% url 'index'%}">Doctors</a>
									<a href="{% url 'register' %}'">Login/Signup here</a>
								</nav>
								<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- /Header -->

			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-8 offset-md-2">

							<!-- Account Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<div class="col-md-7 col-lg-6 login-left">
										<img src="{% static 'js/assets/img/login-banner.png' %}" class="img-fluid" alt="Login Banner">
									</div>
									<div class="col-md-12 col-lg-6 login-right">
										<div class="login-header">
											<h3>Forgot Password?</h3>
											<p class="small text-muted">Enter your email to get a password reset link</p>
										</div>

										<!-- Forgot Password Form -->
										<form action="#" method='post'>
											{% csrf_token %}
											<div class="form-group form-focus">
												<input type="email" class="form-control floating">
												<label class="focus-label">Email</label>
											</div>
											<div class="text-right">
												<a class="forgot-link" href="{% url 'register'%}">Remember your password?</a>
											</div>
											<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Reset Password</button>
										</form>
										<!-- /Forgot Password Form -->

									</div>
								</div>
							</div>
							<!-- /Account Content -->

						</div>
					</div>

				</div>

			</div>
			<!-- /Page Content -->

			<!-- Footer -->
			<!-- start footer Area -->


			<!-- /Footer -->

		</div>
		<!-- /Main Wrapper -->

		<!-- jQuery -->
		<script src="{% static 'js/assets/js/jquery.min.js' %}"></script>

		<!-- Bootstrap Core JS -->
		<script src="{% static 'js/assets/js/popper.min.js' %}"></script>
		<script src="{% static 'js/assets/js/bootstrap.min.js' %}"></script>

		<!-- Custom JS -->
		<script src="{% static 'js/assets/js/script.js' %}"></script>

	</body>


</html>